$half-tooltip-width: 10.5px;
$tooltip-height: 9px;
$arrow-padding-from-side: 20px;

.tooltip {
  position: absolute;
  z-index: 10;
  box-shadow: 0 8px 14px 4px rgba(0,0,0,.14);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.52;
  
  @mixin center-arrow-position {
    left: calc(50% - #{$half-tooltip-width});
  }

  @mixin left-arrow-position {
    left: $arrow-padding-from-side;
  }
  
  @mixin right-arrow-position {
    right: $arrow-padding-from-side;
  }

  @mixin middle-arrow-position {
    top: calc(50% - #{$tooltip-height}/2);
  }

  &.content-type-custom {
    border: 1px solid #d9d9d9;
  }

  .tooltip-arrow {
    position: absolute;
    z-index: 9;
  }

  &.top {
    .tooltip-arrow {
      transform: rotate(180deg);
      bottom: -$tooltip-height;

      &.center {
        @include center-arrow-position;
      }

      &.left {
        @include left-arrow-position;
      }

      &.right {
        @include right-arrow-position;
      }
    }
  }

  &.bottom {
    .tooltip-arrow {
      transform: rotate(0deg);
      top: -$tooltip-height;

      &.center {
        @include center-arrow-position;
      }

      &.left {
        @include left-arrow-position;
      }

      &.right {
        @include right-arrow-position;
      }
    }
  }

  &.right {
    .tooltip-arrow {
      @include middle-arrow-position;
      transform: rotate(270deg);
      left: -13px;
    }
  }

  &.left {
    .tooltip-arrow {
      @include middle-arrow-position;
      transform: rotate(90deg);
      right: -13px;
    }
  }

  .tooltip-content-container {
    position: relative;
    padding: 16px;
    z-index: 20;
    border-radius: 4px;

    &.content-type-text {
      background-color: #2e2e2e;
      color: #ffffff;
      text-align: center;
      font-weight: 300;
      
      .tooltip-content {
        max-width: 130px;
      }
    }
  
    &.content-type-custom {
      background-color: #ffffff;
    }
  }

  &.tooltip-on {
    display: block;
  }

  &.tooltip-off {
    display: none;
  }

  p {
    margin: 0;
    padding: 0 5px;
  }
}